<h2><%= t('.title') %></h2>
<table>
<!-- START_HIGHLIGHT -->
  <%= render(cart.line_items) %>
<!-- END_HIGHLIGHT -->

  <tr class="total_line">
    <td colspan="2"><%= t('.totalPrice') %></td>
<!-- START_HIGHLIGHT -->
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
<!-- END_HIGHLIGHT -->
  </tr>

</table>


	<!-- <td><%= button_to 'Add new item', store_path, method: :get , class: 'button'%></td> -->
	
<% unless current_page?(new_order_path) %>	
	<%= button_to t('.checkout') , new_order_path, method: :get, class: 'ecbutton' %>
	<%= button_to t('.empty'), cart, method: :delete, data: {confirm: 'Are you sure?'} , remote: true, class: 'ecbutton' %>

<% else %>
	<%= button_to t('.cancleOrder'), store_path, method: :get, class: 'ecbutton' %>
<% end %>
